{% extends 'base.html' %}

{% block title %} About Vertical Tank Maintenance {% endblock %}

{% block body %} 
 <h2> About Vertical Tank Maintenance </h2>
 <hr />
 <a href="https://placeholder.com"><img src="https://via.placeholder.com/200x200.png?text=company+president"></a>
 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec vulputate tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam condimentum eros vitae nunc bibendum, id congue ipsum pretium. Sed sapien sem, congue id mollis ut, 
    maximus id nunc. Phasellus quis blandit nisl, id sodales eros. Morbi id ex sit amet metus molestie vestibulum. Suspendisse potenti. Mauris ut cursus purus, sit amet facilisis turpis. 
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis pulvinar facilisis diam at rutrum. Sed elementum diam tellus, at lacinia risus finibus vel. 
    Vestibulum at magna et magna sagittis tincidunt quis at nulla. Phasellus quis tincidunt purus, ut tristique eros. Etiam ac placerat elit, in dapibus ante. Quisque ut rhoncus tellus, id commodo nulla.
    <br />
    <br />
    Maeenas sed molestie felis, ut vehicula diam. Maecenas id turpis nulla. In dapibus lacus vel leo dapibus sollicitudin in id mi. Mauris nunc dolor, condimentum non fringilla eu, commodo scelerisque risus. 
    Curabitur euismod dapibus nisi at sagittis. Proin accumsan dui vel lacus efficitur gravida. Mauris quis nulla sit amet arcu faucibus dictum vel et tortor.
    <br />
    <br />
    Pellentesque at tellus porta, aliquet quam quis, faucibus sem. Nulla a mauris vitae arcu feugiat vestibulum sit amet a leo. Cras aliquam, nulla sit amet scelerisque euismod, orci quam tincidunt justo, 
    a porttitor arcu velit sit amet risus. Aenean tincidunt arcu id diam eleifend, a facilisis dolor ullamcorper. Praesent suscipit vehicula consequat. Suspendisse rutrum elementum urna, quis imperdiet massa porttitor ac. 
    Proin luctus ac lorem dictum eleifend. Vestibulum non vulputate sapien. Nam augue mi, eleifend sit amet dui ac, efficitur vehicula nisi. Sed congue, dui in ornare malesuada, dolor erat suscipit ante, et euismod leo dui eu tellus. 
    Integer molestie fringilla erat, semper placerat nisl sagittis non. Duis id diam id ipsum sagittis egestas eu dapibus ex. Phasellus dictum posuere eros, a elementum ex tincidunt a. Aliquam condimentum elit eget viverra egestas. 
    Curabitur rhoncus tincidunt congue.
    <br />
    <br />
    Cras consequat purus ac nibh placerat, vel aliquet turpis venenatis. Vestibulum sit amet dapibus ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur justo urna, 
    tempus non lacus sed, vulputate ultrices lectus. Maecenas commodo auctor justo ut convallis. Mauris et luctus nunc, ac feugiat libero. Donec at nibh mollis, sodales dui vitae, tincidunt ex. Nam commodo finibus leo sodales suscipit.
    Cras eu quam in tellus faucibus blandit sit amet hendrerit sapien. Ut pulvinar sodales ipsum, sit amet luctus ipsum sollicitudin vel. Duis nec justo at orci tincidunt ornare. Vivamus consequat, mauris nec rutrum ultricies, est est dictum libero, vitae porta sapien nunc at mi. Curabitur ac molestie ligula.
    Nam porttitor sit amet metus rhoncus dictum. 
    <br />
    <br />
    Vestibulum vitae augue et turpis efficitur faucibus nec gravida velit. Aliquam imperdiet justo nec magna iaculis dapibus. Morbi venenatis volutpat commodo. Vestibulum eu accumsan lacus. Donec at bibendum nibh. Nullam sodales urna erat, vel efficitur dolor facilisis eu. Etiam pretium ex orci, non ornare eros accumsan vel. 
    Integer dui urna, euismod sed felis ac, pretium dictum erat. Vestibulum ipsum quam, lobortis ut felis eu, lacinia tempus eros. Quisque nec odio est. Vivamus vitae hendrerit lectus. Sed suscipit, tellus venenatis mollis dapibus, enim lorem sodales orci, id bibendum mauris purus non turpis.
    Proin feugiat a ligula vel fringilla.</p>

 {% endblock %}