{% extends 'base.html' %}

{% block title %} Welcome to VTM! {% endblock %}

{% block body %} 
    <h1> Welcome to VTM! </h1>
    
    <img src="{{ url_for('static', filename='above_ground_vertical_tanks.jpg') }}" />

    <a href="https://placeholder.com"><img src="https://via.placeholder.com/200x100.png?text=service+area"></a>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis nibh bibendum elementum sagittis. Integer hendrerit justo commodo felis facilisis, 
        sed facilisis quam sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
         Vivamus auctor bibendum enim, eu ultrices risus maximus nec. Nunc lobortis ultricies fringilla. Fusce mollis, magna et laoreet sollicitudin, 
         sapien mi aliquam orci, ut condimentum justo libero sit amet arcu. Nulla vitae finibus nunc. Proin ut odio posuere, cursus dui id, bibendum leo. 
         Nulla tristique lorem vel porttitor tincidunt. Proin molestie sagittis velit, aliquam tempor sapien consectetur et. Ut et neque mauris. Vivamus posuere,
         eque efficitur lacinia efficitur, erat nulla gravida sem, in viverra ipsum nibh in risus. Nunc aliquet vel diam et mattis. Mauris sodales sagittis ligula,
         non vehicula tortor finibus sit amet. Quisque ac vehicula lorem, non varius ipsum.
         <br />
         <br />
         Suspendisse sollicitudin luctus justo, eget mattis est hendrerit sit amet. Pellentesque dictum, tortor et iaculis tincidunt, risus eros tincidunt arcu, 
         quis malesuada ex risus id mauris. Nulla pharetra ac libero sit amet ultrices. Nunc ut lorem ac nisi elementum luctus. Cras quis rhoncus turpis, non tristique erat. 
         In elementum eros fringilla imperdiet bibendum. Nulla vel vulputate risus. Sed vehicula pulvinar congue. In in volutpat urna. In hac habitasse platea dictumst.
         Donec consectetur dignissim magna at viverra. Pellentesque eu tellus eget lorem ultricies hendrerit tincidunt ac massa.</p>

{% endblock %}
